.m-15 {
    margin-top: 3%;
}

a:link {
    text-decoration: none;
}

span {
    margin-right: 3%;
}

/*Main Box*/
.root {
    width: 100%;
    padding: 7px 10px 0px;
}

.main_logo {
    position: absolute;
    max-width: 150px;
    height: auto;
}

/*inhalte zentrieren*/
.frame_1, .grey_button, #button_row, #print_menue, .grey_button2, .anzeige_dosierung, .print_button, #print_frame {
    display: flex;
    align-items: center;
    justify-content: center;
}

/*druckeransicht*/
.printer_front {
    width: 980px;
    height: auto;
    margin-top: 15%;
}

/*Menues*/
.side_menue {
    width: 100%;
    height: 25%;
    padding-top: 5%;
    padding-bottom: 5%;

    background-color: rgba(155,218,243,0.42);
    border-radius: 0px 15px 0px 0px;
}

/*inputs*/
.name_menue, .chargen_menue, .sprach_menue {
    display: block;
    text-align: end;
    padding-top: 3%;
}

#label_patient, #patient, #label_sprache, #sprache, #label_chargennummer, #chargennummer, #label_anzahl,#anzahl{
    font-family: sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 20px;
    margin-right: 7px;
}

select, input {
    width: 150px;
    height: 25px;
}

.grey_button {
    width: 60px;
    height: 60px;
    
    border: #808080 solid 2px;
    border-radius: 10px;
    background-color: white;

    font-family: sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    color: #808080;
    text-align: center;
}

button {
    border: none;
    background-color: rgba(155,218,243,0);
    margin: none;
}

.mobilephone {
    position:absolute;
    margin-top: 100%;
    padding-bottom: 5%;
    width: 95%;
    text-align: center;
    background-color: rgba(155,218,243,0.42);
}

/*anzahl*/
.anzahl_menue {
    padding-top: 5%;
}

#anzahl {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    width: 15%;
}

/*print*/
#print_menue,  #drueckoption_menue {
    padding-top: 5%;
}

.print_button {
    width: 150px;
    height: 50px;
    
    border: #808080 solid 3px;
    border-radius: 10px;
    background-color: #bababa;

    font-family: sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    color: #ffffff;
    text-align: center;
}

.tabletten_button, .odf_button{
    width: 70px;
    height: 50px;
    
    border: #808080 solid 3px;
    border-radius: 10px;
    background-color: #bababa;

    font-family: sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    color: #ffffff;
    text-align: center;
}

/*wirkstoffmenue*/
#wirkstoff_row {
    display: inline-flex;
    width: 100%;
    
}

.druckkopf_nummer {
    width: 30px;
    height: 30px;

    border: #808080 solid 2px;
    border-radius: 8px;

    background-color: white;

    font-family: sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #808080;
    text-align: center;
}

.wirkstoff {
    width: 25%;
    background-color: #9bdaf3;
}

#wirkstoff1 {
    padding: 2px;
    border-radius: 0px 0px 0px 15px;
}

#wirkstoff2, #wirkstoff3 {
    padding: 2px;
    border-left: #00a1e0 solid 3px;
}

#wirkstoff4 {
    padding: 2px;
    border-left: #00a1e0 solid 3px;
    border-radius: 0px 0px 15px 0px;
}

/*überschriften*/
.header1 {
    font-family: sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    text-align: center;
}

.header2 {
    width: 100%;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    text-align: center;
    margin-top: 5%;
}
.header3 {
    font-family: sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
}

.anzeige {
    font-family: sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    text-align: center;
}

.header4 {
    font-family: sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    text-align: center;
}

.header5 {
    font-family: sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
}

/*Wirkstoffanzeige*/
.wirkstoffbox {
    width: 100%;
    height: 50%;
}

.struktur {
    display: none;
}

#dosierung_menue {
    width: 100%;
    display: inline-flex;
    justify-content: center;
}

#minus_menue, #plus_menue {
    margin-left: 5%;
    margin-right: 5%;
}


/*Wirkstoffanzeige voreinstellung ausgeblendet*/
#amb {
    display: none;
}

#hct {
    display: none;
}

#cad {
    display: none;
}

#ros {
    display: none;
}

/*Videosettings*/
video {
    /*Positioning*/
    position: absolute;
    margin-top: 15%;
    
    /*Sizing*/
    width: 100%;
    height:auto;
    display: none;
}

/*Printbericht*/
/*basis box*/
#frame_3 {
    display: none;
}

#print_report {
    margin-top: 20%;
    width: 100%;
    height: 40%;

    border: solid #2E2E2E;
    border-width: 2px;
    border-radius: 10px;
    display: inline-flex;
}

/*linke seite*/
#print_left{
    width: 40%;
    display: block;
    border-right: solid #2E2E2E;
    border-width: 2px;
}

#print_img {
    width: 100%;
    height: 150px;
    background-image: url("./assets/pill_no_bg.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position-y: center;

    border-bottom: solid #2E2E2E;
    border-width: 2px;
}

#print_img2d {
    width: 100%;
    height: 150px;
    background-image: url("./assets/2D_ODF_Bild.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position-y: center;

    border-bottom: solid #2E2E2E;
    border-width: 2px;
}


#print_status {
    width: 100%;
    height: auto;
}

#passed {
    padding-top: 10%;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    color: #6bc04b;
    text-align: center;
}

#mg {
    font-family: sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    text-align: center;
}

#marge {
    margin-top: -17px;
    font-size: 10px;
    text-align: center;
}

/*rechte seite*/
#print_data {
    width: 60%;
    height: 100%;
    padding:3%;
}

li {
    font-family: sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
}

/*qr code settings*/
#qr_code {
    width: 100%;
    height: 200px;
    margin-top: 10%;

    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: center;
} 